# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
*.log

# Dependency directory
node_modules

# production
build

# Optional REPL history
.DS_Store
.idea
.vscode

# Prettier config
.prettierrc
.editorconfig

# ESLint config
.eslintrc

# Environment variables
.env
