.form__save-button_theme_dark {
  background-color: #fff;
  color: #000;
  margin-top: 186px;
}

.form__save-button_theme_dark:hover {
  opacity: 0.85;
}

@media screen and (max-width: 619px) {
  .form__save-button_theme_dark {
    margin-top: 173px;
  }
}
